<ion-content class="verify-page">

  <div class="verify-container">
    <h1 class="title">Verify Email</h1>
    <p class="subtitle">Enter the 6-digit code sent to your email</p>

    <div class="verify-card">
      <ion-item lines="none">
      <ion-input label="OTP Code" labelPlacement="floating" type="number" maxlength="6" [(ngModel)]="otp" name="otp" required>
      </ion-input>
      </ion-item>

      <ion-button expand="block" class="verify-btn" (click)="verifyOtp()">
        Verify
      </ion-button>

      <p class="footer-text">
        Didn’t receive the code?
        <a (click)="resendOtp()">Resend</a>
      </p>
    </div>
  </div>

</ion-content>